In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
pop_chage_rate = pd.read_csv('./data/연령별_귀촌인_증감률(2019~2022).csv', encoding='cp949')
pop_chage_rate.head()

,연령별,2019,2019.1,2019.2,2020,2020.1,2020.2,2021,2021.1,2021.2,2022,2022.1,2022.2
0,연령별,귀촌인수 (명),귀촌인수 (명),귀촌인수 (명),귀촌인수 (명),귀촌인수 (명),귀촌인수 (명),귀촌인수 (명),귀촌인수 (명),귀촌인수 (명),귀촌인수 (명),귀촌인수 (명),귀촌인수 (명)
1,연령별,계,계,계,계,계,계,계,계,계,계,계,계
2,연령별,원데이터,전년 대비 증감,증감률,원데이터,전년 대비 증감,증감률,원데이터,전년 대비 증감,증감률,원데이터,전년 대비 증감,증감률
3,계,444464,-28010,-5.9,477122,32658,7.3,495658,18536,3.9,421106,-74552,-15.0
4,0 - 29세,119542,-5730,-4.6,125627,6085,5.1,128944,3317,2.6,105896,-23048,-17.9

In [5]:
farm_chage_rate = pd.read_csv('./data/연령별_귀농인_증감률(2019~2022).csv', encoding='cp949')
farm_chage_rate.head()

,연령별,성별,2019,2019.1,2019.2,2020,2020.1,2020.2,2021,2021.1,2021.2,2022,2022.1,2022.2
0,연령별,성별,귀농가구원수 (명),귀농가구원수 (명),귀농가구원수 (명),귀농가구원수 (명),귀농가구원수 (명),귀농가구원수 (명),귀농가구원수 (명),귀농가구원수 (명),귀농가구원수 (명),귀농가구원수 (명),귀농가구원수 (명),귀농가구원수 (명)
1,연령별,성별,원데이터,전년 대비 증감,증감률,원데이터,전년 대비 증감,증감률,원데이터,전년 대비 증감,증감률,원데이터,전년 대비 증감,증감률
2,계,계,16181,-1675,-9.4,17447,1266,7.8,19776,2329,13.3,16906,-2870,-14.5
3,0 - 39세,계,3413,-820,-19.4,3699,286,8.4,3842,143,3.9,3009,-833,-21.7
4,40 - 49세,계,2167,-446,-17.1,2210,43,2.0,2295,85,3.8,1895,-400,-17.4

In [33]:
home_rate = pd.read_csv('./data/연령별_귀촌인_증감률(2015~2022).csv', encoding='cp949')
home_rate

,항목,시점,계,계.1,계.2,0 - 29세,0 - 29세.1,0 - 29세.2,30 - 39세,30 - 39세.1,...,40 - 49세.2,50 - 59세,50 - 59세.1,50 - 59세.2,60 - 69세,60 - 69세.1,60 - 69세.2,70세 이상,70세 이상.1,70세 이상.2
0,항목,시점,계,계,계,계,계,계,계,계,...,계,계,계,계,계,계,계,계,계,계
1,항목,시점,원데이터,전년 대비 증감,증감률,원데이터,전년 대비 증감,증감률,원데이터,전년 대비 증감,...,증감률,원데이터,전년 대비 증감,증감률,원데이터,전년 대비 증감,증감률,원데이터,전년 대비 증감,증감률
2,귀촌인수 (명),2015,466778,27243,6.2,123822,17927,16.9,115743,-488,...,0.2,77076,4311,5.9,42047,5112,13.8,26944,231,0.9
3,귀촌인수 (명),2016,475489,8711,1.9,124888,1066,0.9,118525,2782,...,-0.3,78304,1228,1.6,45107,3060,7.3,27775,831,3.1
4,귀촌인수 (명),2017,497187,21698,4.6,132392,7504,6.0,121073,2548,...,3.9,81327,3023,3.9,48994,3887,8.6,29373,1598,5.8
5,귀촌인수 (명),2018,472474,-24713,-5.0,125272,-7120,-5.4,111038,-10035,...,-6.6,78422,-2905,-3.6,49423,429,0.9,29819,446,1.5
6,귀촌인수 (명),2019,444464,-28010,-5.9,119542,-5730,-4.6,101144,-9894,...,-7.0,74794,-3628,-4.6,47964,-1459,-3.0,27985,-1834,-6.2
7,귀촌인수 (명),2020,477122,32658,7.3,125627,6085,5.1,103285,2141,...,7.3,79980,5186,6.9,57325,9361,19.5,32521,4536,16.2
8,귀촌인수 (명),2021,495658,18536,3.9,128944,3317,2.6,103118,-167,...,0.6,83594,3614,4.5,66391,9066,15.8,34776,2255,6.9
9,귀촌인수 (명),2022,421106,-74552,-15.0,105896,-23048,-17.9,85779,-17339,...,-17.8,73188,-10406,-12.4,61213,-5178,-7.8,30214,-4562,-13.1

In [48]:
year_rate_h = home_rate[['시점', '계', '계.1', '계.2']].drop({0, 1}, axis=0).rename(columns={'계':'귀촌인', '계.1':'전년대비증감수', '계.2':'전년대비증감률'})
year_rate_h.index = year_rate_h['시점']

In [51]:
year_rate_h.drop(columns='시점', axis=1, inplace=True)

In [60]:
year_rate_h

         귀촌인 전년대비증감수 전년대비증감률
시점
2015  466778   27243     6.2
2016  475489    8711     1.9
2017  497187   21698     4.6
2018  472474  -24713    -5.0
2019  444464  -28010    -5.9
2020  477122   32658     7.3
2021  495658   18536     3.9
2022  421106  -74552   -15.0

In [58]:
year_rate_h.to_csv('./data/년도별_귀촌인수.csv')

In [59]:
pd.read_csv('./data/년도별_귀촌인수.csv')

     시점     귀촌인  전년대비증감수  전년대비증감률
0  2015  466778    27243      6.2
1  2016  475489     8711      1.9
2  2017  497187    21698      4.6
3  2018  472474   -24713     -5.0
4  2019  444464   -28010     -5.9
5  2020  477122    32658      7.3
6  2021  495658    18536      3.9
7  2022  421106   -74552    -15.0

In [64]:
farm_rate = pd.read_csv('./data/연령별_귀농인_증감률(2015~2022).csv', encoding='cp949')
farm_rate

,항목,시점,계,계.1,계.2,0 - 39세,0 - 39세.1,0 - 39세.2,40 - 49세,40 - 49세.1,40 - 49세.2,50 - 59세,50 - 59세.1,50 - 59세.2,60 - 69세,60 - 69세.1,60 - 69세.2,70세 이상,70세 이상.1,70세 이상.2
0,항목,시점,계,계,계,계,계,계,계,계,계,계,계,계,계,계,계,계,계,계
1,항목,시점,원데이터,전년 대비 증감,증감률,원데이터,전년 대비 증감,증감률,원데이터,전년 대비 증감,증감률,원데이터,전년 대비 증감,증감률,원데이터,전년 대비 증감,증감률,원데이터,전년 대비 증감,증감률
2,귀농가구원수 (명),2015,19860,1884,10.5,5108,231,4.7,3246,8,0.2,6572,731,12.5,3846,789,25.8,1088,125,13.0
3,귀농가구원수 (명),2016,20559,699,3.5,5307,199,3.9,3132,-114,-3.5,6750,178,2.7,4239,393,10.2,1131,43,4.0
4,귀농가구원수 (명),2017,19630,-929,-4.5,4788,-519,-9.8,2948,-184,-5.9,6402,-348,-5.2,4408,169,4.0,1084,-47,-4.2
5,귀농가구원수 (명),2018,17856,-1774,-9.0,4233,-555,-11.6,2613,-335,-11.4,5729,-673,-10.5,4199,-209,-4.7,1082,-2,-0.2
6,귀농가구원수 (명),2019,16181,-1675,-9.4,3413,-820,-19.4,2167,-446,-17.1,5377,-352,-6.1,4185,-14,-0.3,1039,-43,-4.0
7,귀농가구원수 (명),2020,17447,1266,7.8,3699,286,8.4,2210,43,2.0,5403,26,0.5,4925,740,17.7,1210,171,16.5
8,귀농가구원수 (명),2021,19776,2329,13.3,3842,143,3.9,2295,85,3.8,5890,487,9.0,6299,1374,27.9,1450,240,19.8
9,귀농가구원수 (명),2022,16906,-2870,-14.5,3009,-833,-21.7,1895,-400,-17.4,4888,-1002,-17.0,5747,-552,-8.8,1367,-83,-5.7

In [75]:
year_rate_f = farm_rate[['시점', '계', '계.1', '계.2']].drop({0, 1}, axis=0).rename(columns={'계':'귀농인', '계.1':'전년대비증감수', '계.2':'전년대비증감률'})
year_rate_f.index = year_rate_f['시점']
year_rate_f.drop(columns='시점', inplace=True)

In [76]:
year_rate_f

        귀농인 전년대비증감수 전년대비증감률
시점
2015  19860    1884    10.5
2016  20559     699     3.5
2017  19630    -929    -4.5
2018  17856   -1774    -9.0
2019  16181   -1675    -9.4
2020  17447    1266     7.8
2021  19776    2329    13.3
2022  16906   -2870   -14.5

In [78]:
year_rate_f.to_csv('./data/년도별_귀농인수.csv')

In [79]:
pd.read_csv('./data/년도별_귀농인수.csv')

     시점    귀농인  전년대비증감수  전년대비증감률
0  2015  19860     1884     10.5
1  2016  20559      699      3.5
2  2017  19630     -929     -4.5
3  2018  17856    -1774     -9.0
4  2019  16181    -1675     -9.4
5  2020  17447     1266      7.8
6  2021  19776     2329     13.3
7  2022  16906    -2870    -14.5

In [80]:
pd.read_csv('./data/년도별_귀촌인수.csv')

     시점     귀촌인  전년대비증감수  전년대비증감률
0  2015  466778    27243      6.2
1  2016  475489     8711      1.9
2  2017  497187    21698      4.6
3  2018  472474   -24713     -5.0
4  2019  444464   -28010     -5.9
5  2020  477122    32658      7.3
6  2021  495658    18536      3.9
7  2022  421106   -74552    -15.0